:root {
    font-family: Arial, Helvetica, sans-serif;
    --docker-color: #1794D4;
}

html,
body {
    height: 100%;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

header {
    height: 3em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5em;

    border-bottom: solid 3px var(--docker-color);
    width: 100%;
    background-color: #212529;
    color: #fff;

    img {
        display: block;
        height: 2em;
        object-fit: cover;
    }

    h1 {
        font-size: 1.5em;
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.5em;

    flex: 1 0 auto;

    .container {
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 0.75em;
        padding: 0.75em;
        width: 100%;

        .header-field {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 0.5em;

            .label {
                font-weight: bold;
                font-size: 1.1em;
            }

            .status-indicator {
                padding: 0.5em;
                border-radius: 0.5em;
                color: white;
                text-transform: uppercase;

                &.created {
                    background: #6c757d;
                }

                &.running {
                    background: #28a745;
                }

                &.paused {
                    background: #ffc107;
                    color: #212529;
                }

                &.restarting {
                    background: #17a2b8;
                }

                &.exited {
                    background: #dc3545;
                }

                &.dead {
                    background: #343a40;
                }

                &.removing {
                    background: #6610f2;
                }
            }
        }

        .body-field {
            margin-top: 0.5em;
            font-size: 0.9em;
            line-height: 1.4;
        }
    }
}

footer {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 100%;
    background-color: #212529;
    color: #fff;
    padding: 0.5em;

    display: flex;
    flex-direction: row;
    gap: 0.25em;

    .vm {
        display: flex;
        flex-direction: row;
    }

    @media (max-width:700px) {
        justify-content: center;
    }
}